.allProducts {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2%;
  padding: 3%;
}

.sideBar {
  background-image: linear-gradient(315deg, #f1e59e3f 15%, #b3dac26e 74%);
  border: 2px solid;
  display: grid;
  grid-column: 1/5;
  height: 700px;
  justify-content: left;
}

.productsList {
  background-image: linear-gradient(315deg, #f1e59e25 15%, #b3dac26e 74%);
  border: 2px solid;
  display: grid;
  font-size: 0.8em;
  grid-column: 5/12;
  height: 700px;
  overflow-y: auto;
}

.products {
  background-image: linear-gradient(315deg, #7a755a21 15%, #b3dac26e 74%);
  border: 1px solid;
  display: inline-grid;
  flex-wrap: wrap;
  height: 4%;
  justify-content: center;
  margin: 10px;
  text-align: center;
  width: 45%;
}

button {
  height: 30px;
  justify-self: center;
  margin-bottom: 1%;
  margin-top: auto;
  text-align: center;
}

img {
  background-image: linear-gradient(315deg, #f2cf076e 15%, #55d2856e 74%);
  height: 175px;
  padding: 1%;
  width: 175px;
}

.sideCard > p {
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}
