.cart-body {
  background-color: #51f5f58f;
  background-image: linear-gradient(315deg, #0cbaba63 0%, #865ab852 74%);
  height: 100vh;
  overflow-y: auto;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: center;
}

.cart-item {
  background-color: #51f5f55e;
  background-image: linear-gradient(315deg, #5ba7b13f 15%, #aab9cf9d 74%);
  border: 2px solid;
  box-shadow: 10px 5px 5px black;
  height: auto;
  margin-top: 1%;
  padding: 0.5%;
  text-align: center;
  width: 10%;
}

.addButton {
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px rgb(30, 141, 168);
  font-weight: 700;
  margin-right: 1%;
  width: 10%;
}

.cartLink {
  background-color: rgb(205, 213, 216);
  border: 2px solid rgb(161, 173, 177);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  font-size: 1.1em;
  height: auto;
  margin: 1% auto;
  text-align: center;
  width: fit-content;
}

.cartLink:hover {
  background-color: rgb(181, 179, 184);
}

.cartLink:active {
  background-color: white;
}

.link {
  color: black;
  text-decoration: none;
}

.link > p {
  margin-top: 12px;
  padding: 0 15px;
}

.cart-item > img {
  height: auto;
  padding: 1px;
  width: 50%;
}
