.header {
  align-items: center;
  background-color: #0cbaba8f;
  background-image: linear-gradient(315deg, #0cbabaa4 0%, #7501716e 74%);
  
  border: 3px double black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homeIcon {
  color: rgb(208, 222, 235);
  font-size: 2.5em;
  margin-left: 2%;
}

.cartIcon {
  color: rgb(208, 222, 235);
  font-size: 2.5em;
  margin-right: 2%;
}
