.body {
  background-color: #0cbabaa8;
background-image: linear-gradient(315deg, #0cbaba6c 0%, #38003644 74%);

  padding-left: 1%;
  padding-top: 2%;
}

.search {
  display: flex;
  justify-content: center;
}

.searchLabel > span {
  display: none;
}

.searchInput {
  font-size: 16px;
  margin-right: 10px;
  width: 400px;
}

.searchButton {
  width: 100px;
}
